.navbar {
    width:100%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
}
.navbarLogo > h2 {
    color: cornsilk;
    font-size: 1.2rem;
    float: left;
}
.NavbarLinks {
    display: flex;
    list-style: none;
    align-items: center;

}

.NavbarLinks > li{
    padding-left: 1.5rem;
}

.NavbarLinks > li > a {
    text-decoration: none;
    color: cornsilk;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.cartLogoCount {
    margin-left: 0.2rem;
    width: 50px;
    height: 50px;  
    text-align: center;
    border-radius: 50%;
}
.cartLink{
    background: darkgray;
    border-radius: 0.1rem;
    padding:10px;
}